<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <!-- Header Fragment -->
        <header th:fragment="custom-header">
            <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link text-white" aria-current="page" th:href="@{/}">Página Inicial</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" aria-current="page" th:href="@{/editais/list}">Editais</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div style="width: 100px; hieborder-radius: 10px; overflow: hidden;">
                    <a th:href="@{/login}"><button type="submit" class="btn btn-danger py-2 fw-bold">Logout</button></a>
                </div>
            </nav>    
        </header>
    </body>
</html>
