<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Início</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Bem vindo a página inicial</h1>
        <div> 
            <br>
            <button><a href="./login">Logar</a></button>
            <button><a href="./registrar">Registrar</a></button>
        </div>
        
    </body>
</html>

